*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    /* font-size: 1.1rem; */
    font-size: 25px;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0x 10px white;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('Nikko.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 40%;
    height: 40%;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    padding: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
iframe {
    
    width: 200%;
    height: 500px;  
}
.boxPortfilio{
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 450px;
    align-items: center;
}

/* Sub Portfolio */

/* .sub-portfoli-1{
    display: none;
}
.navbar ul li a:hover .sub-portfoli-1{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: 15px;

} */
/* Services */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding-inline-end: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}

/* Contact  Section */

/* #contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
} */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: black; 
    padding: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}
section{
    /* height: 100vh;
    width: 100%; */
    background-color: aliceblue;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
button[type = "submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 19px;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}
button[type = "submit"]:hover{
    background-color: rgb(214, 226, 236);
}
#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}
#status.error{
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 0;
        pointer-events: none;
    }
}
